---
import '../styles/Slider.css';
import html from '../assets/icons/logo-html.png';
import css from '../assets/icons/logo-css.png';
import javascript from '../assets/icons/logo-javascript.png';
import figma from '../assets/icons/logo-figma.png';
import astro from '../assets/icons/logo-astro.png';
import wordpress from '../assets/icons/logo-wordpress.png';
import react from '../assets/icons/logo-react.png';
import canva from '../assets/icons/logo-canva.png';
import { Image } from 'astro:assets';

---




<div class="slider-container">
    <section class="slider" style="--width: 100px; --height:60px; --quantity: 16;">
        <!-- <div class="list">
            <div class="item" style="--position: 1"><Image src={html} alt="logo logiciel html" loading="lazy"/></div>
            <div class="item" style="--position: 2"><Image src={css} alt="logo css" loading="lazy"/></div>
            <div class="item" style="--position: 3"><Image src={javascript} alt="logo javascript" loading="lazy"/></div>
            <div class="item" style="--position: 4"><Image src={astro} alt="logo astro build" loading="lazy"/></div>
            <div class="item" style="--position: 5"><Image src={wordpress} alt="logo cms wordpress" loading="lazy"/></div>
            <div class="item" style="--position: 6"><Image src={figma} alt="logo logiciel figma" loading="lazy"/></div>
            <div class="item" style="--position: 7"><Image src={react} alt="logo react" loading="lazy"/></div>
            <div class="item" style="--position: 8"><Image src={canva} alt="logo canva" loading="lazy"/></div>
        </div> -->
        <div class="list">
            <div class="item" style="--position: 1">HTML</div>
            <div class="item" style="--position: 2">✦</div>
            <div class="item" style="--position: 3">CSS</div>
            <div class="item" style="--position: 4">✦</div>
            <div class="item" style="--position: 5">JavaScript</div>
            <div class="item" style="--position: 6">✦</div>
            <div class="item" style="--position: 7">Astro</div>
            <div class="item" style="--position: 8">✦</div>
            <div class="item" style="--position: 9">WordPress</div>
            <div class="item" style="--position: 10">✦</div>
            <div class="item" style="--position: 11">Figma</div>
            <div class="item" style="--position: 12">✦</div>
            <div class="item" style="--position: 13">React</div>
            <div class="item" style="--position: 14">✦</div>
            <div class="item" style="--position: 15">Canva</div>
            <div class="item" style="--position: 16">✦</div>
        </div>
    </section>
</div>